@import "html_tags";

.main-footer {
  @extend section;

  padding-top: 62px;
  padding-bottom: 62px;

  background-color: #27313D;
  color: white;

  @media screen and (max-width: 800px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    margin-top: 50px;
    margin-bottom: unset;

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }

  a {
    color: white;

    &:hover {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  .footer-item1 {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    margin-right: 20px;
  }

  .footer-item2 {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    text-align: right;

    @media screen and (max-width: 800px) {
      margin-top: 10px;
      text-align: left;
    }
  }

  .address {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
  }

  .social {
    @extend .footer-social;

    .social-vk {
      @extend .footer-social-vk;
    }

    .social-instagram {
      @extend .footer-social-instagram;
    }
  }

  .phone {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
  }

  .email {
    margin-bottom: 5px;
  }
}

.footer-social {
  display: flex;
  align-items: center;
  margin-top: -10px;

  a {
    margin-right: 15px;

    &:hover {
      opacity: 0.85;
    }
  }

  &-vk {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/vk-logo.svg") no-repeat;
  }

  &-vk--black {
    @extend .footer-social-vk;
    background: url("../images/vk-logo-black.svg") no-repeat;
  }

  &-instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/instagram-logo.svg") no-repeat;
  }

  &-instagram--black {
    @extend .footer-social-instagram;
    background: url("../images/instagram-logo-black.svg") no-repeat;
  }
}