.mt_0 { margin-top: 0 !important; }
.mt_5 { margin-top: 5px !important; }
.mt_10 { margin-top: 10px !important; }
.mt_15 { margin-top: 15px !important; }
.mt_20 { margin-top: 20px !important; }
.mt_25 { margin-top: 25px !important; }
.mt_30 { margin-top: 30px !important; }
.mt_35 { margin-top: 35px !important; }
.mt_40 { margin-top: 40px !important; }

.mb_0 { margin-bottom: 0 !important; }
.mb_5 { margin-bottom: 5px !important; }
.mb_10 { margin-bottom: 10px !important; }
.mb_15 { margin-bottom: 15px !important; }
.mb_20 { margin-bottom: 20px !important; }
.mb_25 { margin-bottom: 25px !important; }
.mb_30 { margin-bottom: 30px !important; }
.mb_35 { margin-bottom: 35px !important; }
.mb_40 { margin-bottom: 40px !important; }

.nobr { white-space: nowrap; }

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 450px) {
    padding: 0 20px;
  }
}

.youtube-wrapper {
  position: relative;
  height: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 56.75%;
  overflow: hidden;
  background-color: #ccc;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.button	{
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;

  line-height: 1.5;
  color: #ffffff;

  transition-property: box-shadow;
  transition-duration: 0.2s;
  user-select: none;

  &:hover,
  &:active {
    box-shadow: 0 0 20px -7px white;
    color: #ffffff;
  }

  @media screen and (max-width: 610px) {
    width: 100%;
    text-align: center;
  }
}

.button--dark-blue {
  @extend .button;
  color: #054D7B;
  border-color: #054D7B;

  &:hover,
  &:active {
    box-shadow: 0 0 20px -7px #054D7B;
    color: #054D7B;
  }
}

.google-form {
  max-width: 100%;
}

.h2-desktop {
  @media screen and (max-width: 540px) {
    display: none;
  }
}

.h2-mobile {
  display: none;

  @media screen and (max-width: 540px) {
    display: inline;
  }
}

.freebirdFormviewerViewFooterEmbeddedBackground {
  display: none !important;
}

.mb-60 {
  @media screen and (max-width: 450px) {
    margin-bottom: 30px !important;
  }
}

.mt-60 {
  @media screen and (max-width: 450px) {
    margin-top: 30px !important;
  }
}