* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;

  color: #444444;

  z-index: 1;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 450px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

h1 {
  margin: 0 0 40px 0;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 1;

  color: white;

  @media screen and (max-width: 700px) {
    font-size: 60px;
  }

  @media screen and (max-width: 450px) {
    font-size: 50px;
  }

  @media screen and (max-width: 360px) {
    font-size: 46px;
  }
}

h2 {
  margin: 0 0 20px 0;

  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3;

  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
}

h3 {
  margin-top: 40px;
  margin-bottom: 10px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #10775E;
}

// сброс стилей для кнопок

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}