.section-live {
  color: #ffffff;

  background: rgb(5,77,123);
  background: -moz-linear-gradient(90deg, rgba(5,77,123,1) 0%, rgba(16,119,94,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(5,77,123,1) 0%, rgba(16,119,94,1) 100%);
  background: linear-gradient(90deg, rgba(5,77,123,1) 0%, rgba(16,119,94,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#054d7b",endColorstr="#10775e",GradientType=1);

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .subtitle {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }

  .button {
    @media screen and (max-width: 610px) {
      width: 100%;
      text-align: center;
      margin: 10px 0 !important;
    }
  }

  .button:not(:last-child) {
    margin-right: 24px;
  }

  &__buttons {
    margin-top: -10px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: -20px;

    div {
      margin: -10px 0;
    }

    a {
      display: block;
      color: #ffffff;
      margin: 20px 0;
      transition: .3s transform;

      &:hover {
        color: #ffffff;
        transform: translateX(15px);
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 1060px){
      flex-direction: column;
    }
  }
}

.live-video {
  position: relative;
  display: flex;
  flex-direction: column;

  &__timer {
    @extend h1;
    color: #444444 !important;

    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 99999;
    margin: 0;
    justify-content: center;
  }

  &__screen {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
  }

  &.elapsed {
    .live-video__timer {
      display: none;
    }

    .live-video__screen {
      display: none;
    }
  }
}