.section-video-messages {
  h2 {
    text-align: center;
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;

    &__item {
      width: calc(50% - 20px);
      margin-top: 20px;

      h3 {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      a {
        line-height: 1.5;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      @media screen and (max-width: 900px) {
        width: 100%;
        //margin: unset;
      }

      @media screen and (max-width: 768px) {
        margin-top: 5px;
      }
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
}