.section-header {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 95vh;
  padding-top: 0;
  padding-bottom: 0;

  background-color: #00637F;
  background-image: url("../images/lowpoly-bg.png");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;

  color: white;

  @media screen and (max-width: 700px) {
    background-attachment: scroll;
  }

  &__title {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__date {
    margin-top: 30px;
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 1.2;

    color: #FFFFFF;

    @media screen and (max-width: 700px) {
      font-size: 24px;
    }

    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
  }

  &__utp {
    margin: 0;
    margin-bottom: 60px;

    font-size: 28px;
    line-height: 1.5;

    color: #FFFFFF;

    @media screen and (max-width: 786px) {
      font-size: 20px;
    }

    @media screen and (max-width: 450px) {
      font-size: 18px;
    }

    a {
      color: rgba(255, 255, 255, 0.8);

      &:hover,
      &:active {
        color: white;
      }
    }
  }

  &__arrow {
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 60px;
    width: 44px;
    height: 44px;

    background: url("../images/arrow.svg") top left;
    background-size: cover;

    animation: move .7s ease-in-out infinite alternate;

    @media screen and (max-width: 450px) {
      margin-bottom: 40px;
    }

    &:hover {
      opacity: 0.85;
    }
  }
}

.main-header {
  flex: 0 0 auto;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: 550px) {
      padding-top: 30px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 20px;
    }
  }

  &__logo {
    display: flex;
    order: 1;
    flex: 0 1 auto;
    flex-wrap: nowrap;

    color: white !important;

    @media screen and (max-width: 550px) {
      align-items: center;
    }

    img {
      margin-right: 20px;

      @media screen and (max-width: 550px) {
        width: 40px;
        height: auto;
        margin-right: 14px;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__txt {
    font-size: 20px;
    line-height: 130%;

    @media screen and (max-width: 550px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media screen and (max-width: 550px) {
        display: block;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .menu-btn {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
    padding: 20px 40px 20px 20px;
    color: white;
    user-select: none;
    cursor: pointer;

    &_txt {
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
    }

    &_burger {
      display: block;
      position: absolute;
      top: 30px;
      right: 0;
      width: 25px;
      height: 2px;
      background-color: white;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: white;
      }
      &::after {
        top: 8px;
      }
      &::before {
        top: -8px;
      }
    }

    &:hover {
      color: rgba(255, 255, 255, 0.85);

      .menu-btn_burger,
      .menu-btn_burger::after,
      .menu-btn_burger::before {
        background-color:  rgba(255, 255, 255, 0.85);
      }
    }

  }
}