.section-live {
  color: #ffffff;

  background: rgb(5,77,123);
  background: -moz-linear-gradient(90deg, rgba(5,77,123,1) 0%, rgba(16,119,94,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(5,77,123,1) 0%, rgba(16,119,94,1) 100%);
  background: linear-gradient(90deg, rgba(5,77,123,1) 0%, rgba(16,119,94,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#054d7b",endColorstr="#10775e",GradientType=1);

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .subtitle {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }

  .button {
    @media screen and (max-width: 610px) {
      width: 100%;
      text-align: center;
      margin: 10px 0 !important;
    }
  }

  .button:not(:last-child) {
    margin-right: 24px;
  }

  &__buttons {
    margin-top: -10px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    div {
      margin: -20px 0;
    }

    a {
      display: block;
      color: #ffffff;
      margin: 20px 0;
      transition: .3s transform;

      &:hover {
        color: #ffffff;
        transform: translateX(15px);
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 1060px){
      flex-direction: column;
    }
  }
}