@import "normalize";
@import "fonts";

@import "html_tags";
@import "helpers";

@import "main_menu";

@import "section_header";
@import "section_video_messages";
@import "section_live";
@import "section_bachelor";
@import "section_slider";

@import "footer";